@import '../../styles/variables';

.Navigation {
  margin: 30px 0;
}

.Navigation-list {
  display: flex;
  align-items: center;
}

.Navigation-list__item {
  font-weight: 500;
  font-size: 18px;
}

.Navigation-list__item:not(:last-child) {
  margin-right: 10px;
}

.Navigation-link {
  padding: 5px;
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  border-radius: 4px;
}

.Navigation-link--active {
  background-color: $accent-blue;
  border: 1px solid $accent-blue;
}

.Navigation-link:hover {
  background-color: $orange;
  border: 1px solid $orange;
}
